scrape_configs:
    - job_name: 'prometheus'
      static_configs:
        - targets: ['localhost:9090']
          labels:
            app: "promotheus"
    - job_name: 'node'
      static_configs:
        - targets: ['localhost:9100']
          labels:
            app: "exporter"