
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(167, 167, 167);
}

*:hover {
    color: #fff;
    transition: 0.3s;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    background-color: rgba(43, 48, 59, 0.7);
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    background-color: rgba(10, 10, 10, 0.7);
    padding: 0 8px;
    color: #ffffff;
    border-radius:50px;
    margin: 0 3px;
    font-weight: 600;
    margin-top: 10px;
}

#workspaces button:hover {
    background-color: #7289da;
    box-shadow: inset 1px -1px transparent;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 1 -1px transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: rgba(1, 0, 17, 0.9);
    /* background-color: rgba(10, 10, 10, 0.9); */
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon {
    padding: 0 10px;
    border-radius:50px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
}

#cpu,
#disk,
#backlight,
#memory,
#battery,
#temperature {
    margin:  0 2px;
    margin-top: 10px;
    border-radius: 0;
}

#battery {
    background-color: transparent;
    margin-right: 20px;
}

battery.charging, battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu,
#memory,
#backlight,
#temperature {
    background-color: transparent;
}

#temperature.critical {
    color: #eb4d4b;
}

#network {
    border-radius: 0px;
    padding: 0 12px 0 9px;
}

#network.disconnected {
    background-color: #f53c3c;
}


#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#tray {
    font-size: 5px;
    margin: 0 10px 0 0px;
    padding: 0 13px 0 7px;
    border-radius: 50px;
    margin-top: 10px;
    background-color:rgba(10, 10, 10, 0.7);
    color: rgb(57, 180, 0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: rgba(49, 155, 0, 0.8);
    color: #fff;
    font-weight: 600;
    transition: .3s;
    margin-left: 10px;
    padding: 0 10px;
    border-radius:50px;
    margin-top: 10px;
}

#mpd.disconnected {
    background-color: #eb4d4b;
    color: rgb(167, 167, 167);
    transition: .3s;
}

#mpd.stopped,
#mpd.paused {
    background-color:rgba(10, 10, 10, 0.7);
    color: rgb(167, 167, 167);
    transition: .3s;
}

#custom-mpdlist {
    background-color:rgba(10, 10, 10, 0.7);
    padding: 0 20px 0 10px; 
    font-size:16px;
    border-radius: 0 50px 50px 0;
}
#custom-notif{
    padding: 0 15px; 
}

/* module left */

#custom-menu{
    color: #fff;
    background-color: #0068ca;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0px 0 20px;
    padding: 0 13px 0 12px;
    border-radius: 50px;
    margin-top: 10px;
}

#custom-myterm,
#custom-mynote,
#custom-steam,
#custom-emuwii,
#custom-nswitch,
#custom-chrome,
#custom-vscode,
#custom-netflix,
#custom-ps2emu,
#custom-fileman,
#custom-homebank,
#custom-mailer{
    margin-top: 10px;
    font-size: 13px;
    padding: 7px 15px; 
    background-color:rgba(10, 10, 10, 0.7);
    transition: 0.3s;
}

#custom-mynote{
  border-radius: 20px 0 0 20px;
  margin-left: 15px;
  padding-right: 13px;
}

#custom-chrome{
  border-radius: 0 20px 20px 0;
  padding-left: 13px;
}

#custom-locks{
    font-size: 14px;
    padding: 0 13px 0 12px;
}

/* module right */

#network,
#power-profiles-daemon,
#custom-audio,
#custom-locks, 
#custom-power,
#network,
#pulseaudio{
    background-color:rgba(10, 10, 10, 0.7);
    padding: 7px 15px; 
    font-weight: bold;
    margin-top: 10px;
}

#power-profiles-daemon {
    border-radius: 0;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #fff;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#pulseaudio{
    border-radius: 50px 0px 0px 50px;
    padding-left: 15px;
    font-size: 12px;
}

#custom-power{
    font-size: 19px;
    padding: 0 0px 0 9px;
    margin-right: 15px;
    border-radius: 0 50px 50px 0;
}
