* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(167, 167, 167);
}

*:hover {
    color: #fff;
    transition: 0.3s;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    background-color: rgba(43, 48, 59, 0.7);
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #222222;
}

#workspaces button {
    background-color: rgba(10, 10, 10, 0.7);
    padding: 0 8px;
    color: #ffffff;
    border-radius:50px;
    margin: 0 3px;
    font-weight: 600;
    margin-top: 10px;
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    background-color: #7289da;
    box-shadow: inset 1px -1px transparent;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 1 -1px transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: rgba(10, 10, 10, 0.9);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon {
    padding: 0 10px;
    border-radius:50px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
}

#battery {
    background-color: rgba(43, 48, 59, 0.7);
    border-radius: 0;
}

battery.charging, battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: #2ecc71; */
    background-color: transparent;
    margin:  0 15px;
    margin-top: 10px;
}

#memory {
    /* background-color: #9b59b6; */
    background-color: transparent;
    margin:  0 15px;
    margin-top: 10px;
}


#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}


#network.disconnected {
    background-color: #f53c3c;
}


#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: transparent;
    margin: 0 25px 0 15px;
    margin-top: 10px;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    background-color: rgba(43, 48, 59, 0.7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: rgba(58, 179, 1, 0.8);
    color: #fff;
    font-weight: 600;
    transition: .3s;
    margin-left: 10px;
    padding: 0 10px;
    border-radius:50px;
    margin-top: 10px;
    /*color: #2a5c45;*/
}

#mpd.disconnected {
    background-color: rgba(146, 42, 29, 0.7);
    color: rgb(167, 167, 167);
    transition: .3s;
}

#mpd.stopped {
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(167, 167, 167);
    transition: .3s;
}

#mpd.paused {
    /*background-color: #51a37a;*/
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(167, 167, 167);
    transition: .3s;
}

#custom-mpdlist {
    background-color: rgba(43, 48, 59, 0.7);
    padding: 0 20px 0 10px; 
    font-size:16px;
    border-radius: 0 50px 50px 0;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 14px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-notif{
    padding: 0 15px; 
}

#custom-menu{
    color: #fff;
    background-color: #0068ca;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0px 0 20px;
    padding: 0 13px 0 9px;
    border-radius: 50px;
    margin-top: 10px;
}

#custom-myterm,
#custom-mynote,
#custom-mailer,
#custom-software,
#custom-store,
#custom-chrome,
#custom-vscode,
#custom-firefox,
#custom-homebank,
#custom-fileman {
    margin-top: 10px;
    font-size: 13px;
    padding: 7px 15px; 
    background-color:rgba(10, 10, 10, 0.7);
    transition: 0.3s;
}


#custom-mynote{
  border-radius: 20px 0 0 20px;
  margin-left: 15px;
  padding-right: 13px;
}

#custom-chrome{
  border-radius: 0 20px 20px 0;
  padding-left: 13px;
}

#network,
#power-profiles-daemon,
#custom-audio,
#custom-locks, 
#custom-power,
#network{
    background-color:rgba(10, 10, 10, 0.7);
    padding: 7px 15px; 
    font-weight: bold;
    margin-top: 10px;
}


#power-profiles-daemon {
    border-radius: 50px 0px 0px 50px;
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #fff;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}


#custom-audio{
   
    padding: 0 13px 0 9px;
}

#custom-locks{
    font-size: 14px;
    padding: 0 13px 0 12px;
}

#custom-power{
    font-size: 19px;
    padding: 0 0px 0 9px;
    margin-right: 15px;
    border-radius: 0 50px 50px 0;
}

#network {
    border-radius: 0px;
    padding: 0 12px 0 9px;
    padding: 0 13px 0 12px;
}
